body{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
/* Mobile */
@media (max-width: 992px) {
  .Login{
    width: 100vw;
    height: 30vh;
  }
  .Creditcard{
    position: absolute;
    width: 100vw;
    height: 35vh;
    max-width: 600px;
    left: 50%;
    transform: translate(-50%, -60%);
  }
}

/* Desktop */
@media (min-width: 992px) {
  .Login{
    width: 50vw;
  }
  .Creditcard{
    position: absolute;
    left: 50vw;
    top: 25vh;
    width: 50vw;
    height: 45vh;
  }
}
