body{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.logo{
  height: 50px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  margin-top: 25px;
  margin-right: 45px;
}
.logo.private{
  background-image: url(./logo_private.svg);
}
.logo.business{
  background-image: url(./logo_business.svg);
}
.logo-small-grey{
  background-image: url(./logo_small_grey.svg);
  height: 50px;
  width: 50px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  top: 10px;
  left: 20px;
}
/* Mobile */
@media (max-width: 992px) {
  .Login{
    width: 100vw;
    height: 30vh;
  }
  .Creditcard{
    position: absolute;
    width: 100vw;
    height: calc(100vw/1.6);
    max-width: 480px;
    max-height: 300px;
    max-width: 600px;
    left: 50%;
    transition: 500ms ease;
    transform: translate(-50%, -260%);
  }
  .Creditcard.active{
    transform: translate(-50%, -65%);
  }
}

/* Desktop */
@media (min-width: 992px) {
  .Login{
    width: 30vw;
  }
  .Creditcard{
    position: absolute;
    left: 40vw;
    top: -100vh;
    width: 50vw;
    height: calc(50vw/1.6);
    max-height: 300px;
    max-width: 600px;
    transition: 500ms ease;
  }
  .Creditcard.active{
    top: 30vh;
  }
  .Warning{
    float: right;
    margin: 5px;
  }
}

