.App {
  text-align: center;
}
.Menu{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 10vh;
  width: 100vw;
  overflow: hidden;
}
.Header{
  margin: 0 auto;
  position: absolute;
  top: 20vh;
}
p{
  padding-top: 10px;
  color: rgb(92, 92, 92);
}
.Styling{
  box-shadow: 0px 0px 20px -15px black;
}