body{
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow: hidden;
}
body.active{
  overflow: visible;
}

.Overlay{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url(./svgs/overlay.svg);
  z-index: -1;
}

@keyframes Gradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  
}
a{
  color: grey;
}
a:hover{
  color:darkgray;
}
a:link{
  text-decoration: none;

}
.logo-small-grey a:link{
  width: 50px;
  height: 50px;
}
.logo{
  height: 50px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  margin-top: 25px;
  margin-right: 45px;
}
.logo.private{
  background-image: url(./svgs/logo_private.svg);
}
.logo.business{
  background-image: url(./svgs/logo_business.svg);
}
.logo-small-grey{
  background-image: url(./svgs/logo_small_grey.svg);
  height: 50px;
  width: 50px;
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  top: 50px;
  left: 6vw;
}
/* Mobile */
@media (max-width: 992px) {
  .logo-small-grey{
    top: 10px;
  }
  .Login{
    width: 100vw;
    height: 30vh;
    position: relative;
    z-index: 0;
    opacity: 1;
    top: 15vh;
    transition: 300ms ease;
  }
  .Login.verified{
    opacity: 0;
  }
  .Creditcard{
    position: absolute;
    width: 100vw;
    height: calc(100vw/1.6);
    max-height: 300px;
    max-width: 600px;
    left: 50%;
    transition: 800ms cubic-bezier(.36, .02, .27, 1.24);
    transform: translate(-50%, -260%);
  }
  .Creditcard.private>div{
    background:radial-gradient(71.43% 227.24% at 96.23% 5.29%, #FF5C00 0%, #B49A14 43.03%, #0D400F 100%);
  }
  .Creditcard.business>div{
    background:radial-gradient(71.43% 227.24% at 96.23% 5.29%, #FF7A00 0%, #B41414 43.03%, #12566B 100%);
  }
  .Creditcard.active{
    transform: translate(-50%, -40%);
  }
  .Creditcard.verified{
    transform: translate(-50%, 100%);
  }
  .Warning{
    position: fixed;
    top: 90vh;
    left: 20px;
  }
  .Langswitch{
    position: fixed;
    right: 0; 
    top: 0; 
    z-index: 2;
  }
  .Welcome{
    position: absolute;
    top: 30vh;
    left: 10vw;
    width: 80vw;
    opacity: 0;
    transition: 300ms ease;
  }
  .Welcome.verified{
    opacity: 1;
  }
  .Box{
    width: 100vw;
    position: absolute;
    top: 120vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    display: none;
  }
  .Box.active{
    opacity: 1;
    display: flex;
  }
  .Card{
    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 5vw;
    border-radius: 5px;
    box-shadow: 0 16px 32px 0 var(--card-shadow-color, rgba(0,15,30,0.08));
  } 
  .Article{
    width: 100vw;
    top: 0px;
    background-color: white;
    position: absolute;
    overflow-x: hidden;
  }
  .RelatedArticles{
    margin: 0 auto;
    width: 100vw;
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    overflow-x: scroll; */
    overflow: auto;
    white-space: nowrap;
  }
  .RelatedArticles .Card{
    display: inline-block;
  }
  .relatedTitle{
    margin: 0 auto;
    width: 80vw;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }
  .Header{
    height: 70vh;
    width: 100vw;
    position: relative;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .Heading{
    position: relative;
    top:80%;
    left: 6vw;
  }
  .Badge{
    color:green;
    margin:10px;
    position: relative;
    left:5vw;
    top:50vh;
  }
  .Textblock{
    padding-top: 25px;
    width: 85vw;
    margin-top: 10px;
    margin: 0 auto;
  }
  .Comments{
    width: 85vw;
    margin: 0 auto;
    margin-bottom: 10vh;
    margin-top: 5vh;
  }
  .Footer{
    width: 100vw;
    height: 20vh;
    margin: 0 auto;
    padding-top: 10vh;
  }
  .Footerlinks{
    margin-left: 7vw;
    margin-bottom: 10px;
  }
  .Footernote{
    margin-left: 7vw;
  }
  .Footerlinks a:link{
    padding-right: 10px;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .Login{
    width: 30vw;
    opacity: 1;
    transition: 300ms ease;
    z-index: 1;
  }
  .Login.verified{
    opacity: 0;
  }
  .Creditcard{
    position: absolute;
    left: 40vw;
    top: -100vh;
    width: 50vw;
    height: calc(50vw/1.6);
    max-height: 300px;
    max-width: 600px;
    transition: 800ms cubic-bezier(.36, .02, .27, 1.24);
  }
  .Creditcard.private>div{
    background:radial-gradient(71.43% 227.24% at 96.23% 5.29%, #FF5C00 0%, #B49A14 43.03%, #0D400F 100%);
  }
  .Creditcard.business>div{
    background:radial-gradient(71.43% 227.24% at 96.23% 5.29%, #FF7A00 0%, #B41414 43.03%, #12566B 100%);
  }
  .Creditcard.active{
    top: 30vh;
  }
  .Creditcard.verified{
    left: 40vw;
    
  }
  .Warning{
    position: fixed;
    top: 90vh;
    left: 20px;
  }
  .Background{
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    left: -3000px;
    z-index: -2;
    background: white;
    background-size: 200% 200%;
    -webkit-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden; 
    transition: 1000ms ease;
    opacity: 0;
  }
  .Background.true{
    background: linear-gradient( -45deg, #021a03, #0D400F, #021f03 );
    background-size: 200% 200%;
    left: 0px;
    opacity: 1;
  }
  .Background.false{
    background: linear-gradient( -45deg, #1c738b, rgb(92, 16, 16), #01161d );
    background-size: 500% 500%;
    left: 0px;
    opacity: 1;
  }
  .Langswitch{
    position: fixed;
    right: 6vw; 
    top: 50px; 
    z-index: 2;
  }
  .Welcome{
    position: absolute;
    top: 37vh;
    left: 10vw;
    width: 20vw;
    opacity: 0;
    transition: 300ms ease;
  }
  .Welcome.verified{
    opacity: 1;
  }
  .Box{
    width: 100vw;
    position: absolute;
    top: 120vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    display: none;
  }
  .Box.active{
    opacity: 1;
    display: flex;
  }
  .Card{
    width: 25vw;
    margin-left: 6.25vw;
    margin-bottom: 6.25vw;
    border-radius: 5px;
    box-shadow: 0 16px 32px 0 var(--card-shadow-color, rgba(0,15,30,0.08));
    background-color: rgb(255, 255, 255);
  }
  .Article{
    width: 100vw;
    background-color: white;
    position: absolute;
    overflow: hidden;
  }
  .RelatedArticles{
    width: 70vw;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  .relatedTitle{
    margin: 0 auto;
    width: 60vw;
    margin-bottom: 10vh;
  }
  .Header{
    height: 70vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .Heading{
    position: relative;
    top:80%;
    left:20vw;
  }
  .Badge{
    color:green;
    margin:10px;
    position: relative;
    left:19vw;
    top:50vh;
  }
  .Textblock{
    width: 60vw;
    margin-top: 70vw;
    margin: 0 auto;
    margin-bottom: 10vh;
  }
  .Comments{
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 10vh;
    margin-top: 5vh;
  }
  .Footer{
    width: 85vw;
    height: 10vh;
    margin: 0 auto;
    padding-top: 20px;
  }
  .Footerlinks{
    float: right;
  }
  .Footerlinks a:link{
    margin: 20px;
  }
}

