body{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.Overlay{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url(./svgs/overlay.svg);
  z-index: -1;
}

@keyframes Gradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  
}

.logo{
  height: 50px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  margin-top: 25px;
  margin-right: 45px;
}
.logo.private{
  background-image: url(./svgs/logo_private.svg);
}
.logo.business{
  background-image: url(./svgs/logo_business.svg);
}
.logo-small-grey{
  background-image: url(./svgs/logo_small_grey.svg);
  height: 50px;
  width: 50px;
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  top: 10px;
  left: 20px;
}
/* Mobile */
@media (max-width: 992px) {
  .Login{
    width: 100vw;
    height: 30vh;
    position: relative;
    top: 22vh;
  }
  .Creditcard{
    position: absolute;
    width: 100vw;
    height: calc(100vw/1.6);
    max-width: 480px;
    max-height: 300px;
    max-width: 600px;
    left: 50%;
    transition: 800ms cubic-bezier(.36, .02, .27, 1.24);
    transform: translate(-50%, -260%);
  }
  .Creditcard.active{
    transform: translate(-50%, -40%);
  }
  .Warning{
    position: fixed;
    top: 90vh;
    left: 20px;
  }
  .Langswitch{
    position: fixed;
    left:55vw;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .Login{
    width: 30vw;
  }
  .Creditcard{
    position: absolute;
    left: 40vw;
    top: -100vh;
    width: 50vw;
    height: calc(50vw/1.6);
    max-height: 300px;
    max-width: 600px;
    transition: 800ms cubic-bezier(.36, .02, .27, 1.24);
  }
  .Creditcard.active{
    top: 30vh;
  }
  .Warning{
    position: fixed;
    top: 90vh;
    left: 20px;
  }
  .Background{
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    left: -3000px;
    z-index: -2;
    background: white;
    background-size: 200% 200%;
    -webkit-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden; 
    transition: 1000ms ease;
    opacity: 0;
  }
  .Background.true{
    background: linear-gradient( -45deg, #021a03, #0D400F, #021f03 );
    background-size: 200% 200%;
    left: 0px;
    opacity: 1;
  }
  .Background.false{
    background: linear-gradient( -45deg, #041e25, #12566B, #01161d );
    background-size: 200% 200%;
    left: 0px;
    opacity: 1;
  }
  .Langswitch{
    position: fixed;
    left:85vw;
  }
}

